*{font-family: Montserrat, sans-serif;}
.main-page{width: 100%;margin: 0 auto 0 auto;}
.grid-container {
    margin: 0 auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "block-01-header" "block-02-squares"
    "block-03-services" "block-04-justbuy" "block-05-ourwork" "block-06-news"
    "block-07-people" "block-08-gallery" "block-09-footer";
}
.content-block{
    width: 1160px;
    margin: 0 auto 0 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.content-block-black-justbuy{background-color: rgba(0, 0, 0, 0.8);}
.content-block-black-people{background-color: rgba(0, 0, 0, 0.5);}
.lines{
    width: 100px;
    margin: 30px auto 65px auto;
    height: 10px;
}
.line-01, .line-02{
    width: 74px;
    height: 2px;
    background-color: #18cfab;
    display: block;
    margin: 0 auto;
}
.line-01{ margin: 3px 0 3px 0; }  .line-02{ margin: 3px 0 3px 20px; }

/*------------------------------------*/
.loading-prog-div{
    width: 200px;
    height: 30px;
    margin: 0 auto;
}
.loading-prog{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.sk-three-bounce {
    width: 20em;
    margin: auto;
    text-align: center;
}
.sk-three-bounce .sk-child {
    width: 15px;
    height: 15px;
    background-color: #18cfab;
    border-radius: 100%;
    display: inline-block;
    animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
}
.sk-three-bounce .sk-bounce-1 {
    animation-delay: -0.90s;
}
.sk-three-bounce .sk-bounce-2 {
    animation-delay: -0.64s;
}
.sk-three-bounce .sk-bounce-3 {
    animation-delay: -0.32s;
    background-color: #00cbf6;
}
.sk-three-bounce .sk-bounce-4 {
    animation-delay: -0.16s;
    background-color: #00cbf6;
}
.sk-three-bounce .sk-bounce-5 {
    animation-delay: -0.08s;
}
.sk-three-bounce .sk-bounce-6 {
    animation-delay: -0.04s;
    background-color: #00cbf6;
}
.sk-three-bounce .sk-bounce-6 {
    animation-delay: -0.02s;
    background-color: #00cbf6;
}
@keyframes sk-three-bounce {
    0%, 80%, 100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
}
.button-loadmore:before{
    font-family: "FontAwesome";
    content: "\f067";
    text-align: center;
    margin-right: 16px;
}

/*block-01-header-----------------------------------------------------------------*/

.block-01-header {
    grid-area: block-01-header;
    background-image: url("../img/bk/bk-01.JPG");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.block-01-header-menu{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 auto 220px;
    box-sizing: border-box;
}
.block-01-header-logo{
    display: flex;
    text-decoration: none;
}
.block-01-header-logo-img{
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    width: 58px;
    height: 67px;
    background-position: 3px -431px;
    background-size: 90%;
    margin: 0 10px 0 0;
    cursor: pointer;
}
.block-01-header-logo-img:hover{
    background-image: url("../img/logo2.png");
    transition: all ease-in-out 0.5s; transform: scale(1.3);
}
.block-01-header-logo-text-01{
    font-size: 32px;
    line-height: 64px;
    color: #ffffff;
    font-weight: 400;
    margin: 0;
    cursor: pointer;
}
.block-01-header-logo-text-02{
    font-weight: 700;
    color: #18cfab;
    font-size: 32px;
    line-height: 64px;
    margin: 0;
    cursor: pointer;
}
.block-01-header-menu-list{
    display: flex;
    flex-flow: row;
    align-items: center;
    list-style: none;
    margin: 0 0 0 230px;
}
.block-01-header-menu-items{
    line-height: 42px;
    text-transform: uppercase;
    margin: 8px;
    position: relative;
}
.block-01-header-menu-items a:hover{
    transition: all ease-in-out 0.2s;
}
.block-01-header-menu-items a{
    text-decoration: none;
    color: #b8b8b8;
    font-size: 13px;
    font-weight: 700;
}
.block-01-header-menu-items a:hover:before{
    content: " ";
    width: 100%;
    position: absolute;
    height: 2px;
    background-color: #18CFAB;
    top: 85px;
    left: 0;
}
.block-01-header-menu-items a:hover{
    color: #18cfab;
    cursor: pointer;
}
.block-01-header-menu-items-social{position: relative;}
.menu-blog-nav{
    left: 27px;
    top: 194px;
    position: fixed;
    display: none;
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
}
.block-01-header-menu-items-social-before{
    font-family: "FontAwesome";
    font-size: 40px;
    text-align: center;
    display: block;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 160px;
    left: 53px;
    color: rgba(0, 203, 246, 0.2);
    width: 50px;
    height: 50px;
}
.block-01-header-menu-items-social-before:hover,
.block-01-header-menu-items-social:hover .block-01-header-menu-items-social-before{
    color: #18cfab;
    transition: all ease-in-out 0.2s;
}
.color-me{
    color: rgb(0, 203, 246);
}
.block-01-header-menu-items-social .menu-blog-nav a:hover:before{
    content: none;
}
.menu-blog-nav-item{
    list-style-type: none;
    text-align: center;

    line-height: 25px;
    margin: 10px 10px;
    color: #00cbf6;
}
.menu-blog-nav-item:nth-child(1){animation: fade-in 1s linear;}
.menu-blog-nav-item:nth-child(2){animation: fade-in 1.5s linear;}
.menu-blog-nav-item:nth-child(3){animation: fade-in 2s linear;}
.menu-blog-nav-item:nth-child(4){animation: fade-in 2.5s linear;}
.menu-blog-nav-item:nth-child(5){animation: fade-in 3s linear;}
.menu-blog-nav-item a{
    font-size: 10px;
}
.block-01-header-menu-items-social:hover .menu-blog-nav{
    display: block;
}

.search-block {
    position: relative;
    width: 70px;
    margin-top: 20px;
    margin-left: 10px;
}
.search { background: transparent; }
.search form {height: 32px; color: #18CFAB;}
.search input {
    height: 100%;
    width: 50px;
    padding: 0 15px 0 15px;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background: transparent;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    position: absolute;
    top: 0;
    left: 22px;
    z-index: 2;
    color: #bbbbbb;
}
.search input:focus {
    width: 270px;
    top: 45px;
    left: -250px;
    z-index: 1;
    border-bottom: 2px solid #18CFAB;
}
.search button {
    background: transparent;
    border: none;
    height: 100%;
    width: 32px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;

}
.search button:focus{
    outline: none;
}
.search-img {
    display: block;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    margin: 15px 0 0 3px;
    background-position: 1px -139px;
    background-size: 90%;
}
.search-img:hover{
    background-position: 1px -114.5px;
    background-size: 90%;
}
.block-01-header-text-01{
    font-size: 35px;
    font-weight: 700;
    line-height: 84px;
    text-transform: uppercase;
    color: #ffffff;
}
.block-01-header-text-01-span{
    color: #18cfab;
}
.block-01-header-text-02{
    color: #ffffff;
    font-size: 79px;
    font-weight: 700;
    line-height: 84px;
    text-transform: uppercase;
}
.block-01-header-text-03{
    color: #d4d4d4;
    font-size: 34px;
    font-weight: 300;
    line-height: 84px;
}
.block-01-header-button-01, .block-01-header-button-02{
    margin: 120px 15px 240px 15px;
}
.block-01-header-button-01, .block-01-header-button-02, .block-04-justbuy-button, .block-05-ourwork-button, .block-08-gallery-button{
    width: 166px;
    height: 61px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    border: none;
    box-shadow: inset 0 5px 0 0 white;
    cursor: pointer;
    outline: none;
}
.block-01-header-button-01, .block-04-justbuy-button, .block-05-ourwork-button, .block-08-gallery-button{
    background-color: #18cfab;
}
.block-01-header-button-02{
    background-color: #00cbf6;
}

/*block-02-squares-----------------------------------------------------------------*/

.block-02-squares {
    grid-area: block-02-squares;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.block-02-squares-blocks{
    width: 25%;
    min-height: 374px;
    margin: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.block-02-squares-block-01, .block-02-squares-block-03{
    background-color: #1c2a33;
    box-shadow: inset 0 7px 0 0 #18cfab;
}
.block-02-squares-block-02, .block-02-squares-block-04{
    background-color: #18cfab;
    box-shadow: inset 0 7px 0 0 white;
}
.block-02-squares-block-img{
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
}
.block-02-squares-block-01-img{ background-position: 3px -7px; background-size: 90%;}
.block-02-squares-block-02-img{ background-position: 5px -106px; background-size: 90%;}
.block-02-squares-block-03-img{ background-position: 4px -209px; background-size: 90%;}
.block-02-squares-block-04-img{ background-position: 5px -306px; background-size: 90%;}
.block-02-squares-block-text{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.block-02-squares-block-01-text, .block-02-squares-block-03-text{ color: #18cfab; }
.block-02-squares-block-02-text, .block-02-squares-block-04-text{ color: #ffffff; }

/*block-03-services-----------------------------------------------------------------*/

.block-03-services { grid-area: block-03-services; background: white;}
.block-03-services-text, .block-05-ourwork-text, .block-06-news-text, .block-07-people-text, .block-08-gallery-text{
    color: #4e4e4e;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    margin: 80px 0 0 0;
    position: relative;
}
.block-03-services-divtabs{
    display: flex;
    width: 1160px;
}
.block-03-services-divtab{
    width: 192px;
    height: 70px;
    color: #717171;
    font-size: 16px;
    font-weight: 400;
    line-height: 70px;
    border: 1px solid #ebebeb;
    background-color: #f8fcfe;
    text-align: center;
    cursor: pointer;
}
.block-03-services-divtab-active{
    border: none;
    background-color: #18cfab;
    color: white;
    position: relative;
}
.block-03-services-divtab-active:before{
    border: 20px solid transparent;	border-top: 20px solid #18cfab;
    content: '';
    position: absolute;
    top: 65px;
    left: 75px;
}
.block-03-services-divtabs-p{ margin: 25px 0 100px 0; }
.block-03-services-divtab-p{ display: flex; }
.block-03-services-divtab-p-img{
    width: 194px;
    height: 139px;

}
.block-03-services-divtab-p-text{
    width: 940px;
    margin: 0 0 0 20px;
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: justify;
}
.block-03-services-divtab-p-active{ display: flex; }

/*block-04-justbuy-----------------------------------------------------------------*/

.block-04-justbuy {
    grid-area: block-04-justbuy;
    background-image: url("../img/bk/bk-02.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.block-04-justbuy-text-01{
    color: #18cfab;
    font-size: 40px;
    font-weight: 700;
    line-height: 70px;
    text-transform: uppercase;
    margin-top: 100px;
}
.block-04-justbuy-text-02{
    color: #d8d8d8;
    font-size: 16px;
    font-weight: 400;
    line-height: 70px;
}
.block-04-justbuy-button{ margin: 50px 15px 130px 15px; }

/*block-05-ourwork-----------------------------------------------------------------*/

.block-05-ourwork {
    grid-area: block-05-ourwork;
    background-color: #f8fcfe;
}
.block-05-ourwork-divtabs{
    display: flex;
    justify-content: center;
}
.block-05-ourwork-divtab{
    color: #717171;
    font-size: 14px;
    font-weight: 400;
    line-height: 56px;
    height: 56px;
    border: 1px solid #ebebeb;
    padding: 0 14px;
    /*min-width: 45px;*/
    text-align: center;
    cursor: pointer;
    min-width: 75px;
    background: white;
}

.block-05-ourwork-divtab-active{
    color: #18cfab;
    position: relative;
}
.block-05-ourwork-divtab-active:before{
    content: " ";
    width: 100%;
    position: absolute;
    height: 2px;
    background-color: #18CFAB;
    top: -2px;
    left: 0;
}
.block-05-ourwork-images{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 70px 0 40px 0;
}
.block-05-ourwork-image{
    height: auto;
    margin: 0;
    cursor: pointer;
    position: relative;
    display: flex;
    box-sizing: content-box;
}

.block-05-ourwork-image-hover{
    display: none;
    width: 100%;
    height: 100%;
    transition: 3s linear;
    border-top:  3px solid #18cfab;
    box-sizing: border-box;
    background-color: white;
    position: absolute;
    z-index: 4;
    animation: fade-in 0.5s linear;
}
@keyframes         fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
.block-05-ourwork-image-hover-link{
    margin: 10px 0 20px 0;
}
.block-05-ourwork-image-hover-link-01, .block-05-ourwork-image-hover-link-02{
    min-width: 40px;
    min-height: 40px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 1px solid #18cfab;
    background-color: white;
    margin: 5px;
    float: left;
    color: #18cfab;
    font-size: 20px;
}
.block-05-ourwork-image-hover-link-01:before{
    font-family: "FontAwesome";
    content: "\f0c1";
    text-align: center;
    display: block;
    margin: 4px auto 0 auto;
}
.block-05-ourwork-image-hover-link-02:before{
    font-family: "FontAwesome";
    content: "\f002";
    text-align: center;
    display: block;
    margin: 2px auto 0 auto;
}
.block-05-ourwork-image-hover-link-01:hover, .block-05-ourwork-image-hover-link-02:hover{
    background-color: #18cfab;
    color: white;
}
.block-05-ourwork-image-hover-text-01{
    color: #18cfab;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    margin: 0;
}
.block-05-ourwork-image-hover-text-02{
    color: #8a8a8a;
    font-size: 12px;
    font-weight: 300;
    line-height: 25px;
    margin: 0;
}
.block-05-ourwork-image:hover>div{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.block-05-ourwork-button{ margin-bottom: 100px; }

/*block-06-news-----------------------------------------------------------------*/

.block-06-news { grid-area: block-06-news; background-color: white;}
.block-06-news-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 90px;
    background-color: white;
}
.block-06-news-item{
    display: block;
    width: 260px;
    height: 280px;
    margin: 0 13px 44px 13px;

    position: relative;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #ebebeb;
}
.block-06-news-item:hover div:nth-child(2){
    background-color: #18cfab;
}
.block-06-news-item:hover div:nth-child(3){
    color: #18cfab;
}
.block-06-news-item{
    background-color: #f8fcfe;
}
.block-06-news-item-img{
    width: 100%;
    height: 210px;
}
.block-06-news-item-date{
    width: 65px;
    height: 65px;
    position: absolute;
    top: 0;
    right: 0;
    background: #203e38;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
}

.block-06-news-item-date-day, .block-06-news-item-date-month{
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    margin: 5px;
}
.block-06-news-item-text-01{
    color: #717171;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    margin: 0 0 0 15px;
}

.block-06-news-item-text-02{ display: flex; }
.block-06-news-item-text-author, .block-06-news-item-text-comments{
    margin: 0 0 0 15px;
    color: #777777;
    font-size: 14px;
    font-weight: 300;
}
.block-06-news-item-text-author:after{
    content: "|";
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    margin: 0 0 0 15px;
}

/*block-07-people-----------------------------------------------------------------*/

.block-07-people {
    grid-area: block-07-people;
    background-image: url("../img/bk/bk-03.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.block-07-people-text{ color: white; }
.block-07-people-quote{
    background-repeat: no-repeat;
    background-image: url("../img/logo.png");
    width: 44px;
    height: 33px;
    background-position: 2px -383px;
    background-size: 90%;
    margin-bottom: 40px;
}
.block-07-people-text-p{
    color: #bbbbbb;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    margin: 0 auto 40px 0;
    width: 1100px;
}
.block-07-people-cards{
    width: 1100px;
    height: 340px;
}
.block-07-people-card{

    display: flex;
    flex-flow: column;
    justify-content: center;

}
.block-07-people-card-name{
    color: #18cfab;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.block-07-people-card-prof{
    font-weight: 300;
    color: #bbbbbb;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
}
.block-07-people-card-photo{
    width: 140px;
    height: 140px;
    border: 3px solid #18cfab;
    box-shadow: 0 0 0 10px rgba(16,75,75,0.7);
    border-radius: 50%;
    margin: 27px auto 10px auto;

}
.block-07-people-minicard-block{
    width: 100%;
    margin: 10px 0 90px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid #bbbbbb;*/
}

.block-07-people-minicards{
    width: 430px;
    height: 90px;
    /*border: 1px solid #bbbbbb;*/
    justify-content: center;

}
.block-07-people-minicard-div{
    width: 70px;
    height: 73px;
}
.block-07-people-minicard{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(16,75,75,0.5);
    margin: 15px auto 0 auto;
    cursor: pointer;
}

/*content-block-masonry-----------------------------------------------------------------*/

.content-block-masonry{
    width: 1185px;
    margin: 0 auto 60px auto;
    text-align: center;
}
.block-08-gallery {
    grid-area: block-08-gallery;
    background-color: #f8fcfe;
}
.block-08-gallery-images{
    max-width: 1170px;
    min-width: 1160px;
    overflow: hidden;
    margin-left: 15px;
}
.block-08-gallery-image{
    float: left;
    width: 370px;
    margin: 7px;
    overflow: hidden;
}
.block-08-img1 { height: 260px; }  .block-08-img2 { height: 247px; }  .block-08-img3 { height: 259px; }
.block-08-img4 { height: 373px; }  .block-08-img5 { height: 290px; }  .block-08-img6 { height: 296px; }
.block-08-img8 { height: 450px; }  .block-08-img9 { height: 380px; }
.block-08-gallery-button{
    display: block;
    margin: 0 auto 54px auto;
}
.block-08-gallery-image-item {
    border: 5px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    filter: contrast(70%);
}
.block-08-gallery-image-item:hover {
    box-shadow: 0 10px 13px -7px black, 5px 5px 15px 5px rgba(255,119,119,0), inset 0 5px 0 0 white;
    border: 5px solid white;
    box-sizing: border-box;
    filter: none;
}

.block-08-gallery-image-item-little, .block-08-gallery-image-item-middle{
    border: 3px solid white;
    box-sizing: border-box;
}
.block-08-gallery-image-item-little {

    width: 117px;
    height: 84px;
    margin: 1px;
}
.block-08-gallery-image-item-middle{
    width: 181px;
    height: 165px;
}
.block-08-gallery-image-item-little:hover, .block-08-gallery-image-item-middle:hover{
     border: 3px solid white;
     box-sizing: border-box;
}
.grid-item--large {
    min-width: 90%;
    min-height: 800px;
    z-index: 5;
    margin: 4%;
}

/*block-09-footer-----------------------------------------------------------------*/

.block-09-footer {
    grid-area: block-09-footer;
    height: 120px;
}
.block-09-footer-text{
    height: 105px;
    background-color: #22353f;
    text-align: center;
    line-height: 105px;
    color: #aeaeae;
    font-size: 14px;
    font-weight: 300;
}
.block-09-footer-span{
    color: #18cfab;
    text-decoration: none;
}

/*-----------------------------------------------------------------*/
.hide{
    display: none;
}
.clear{
    content: " ";
    display: block;
    clear: both;
}
/*-----------------------------------------------------------------*/
.scrollup {

    width:50px;
    height:50px;
    opacity:0.7;
    position:fixed;
    bottom:50px;
    right:100px;
    display:none;
    text-indent:-9999px;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-position: 3px -205px;
    background-size: 90%;
}
.scrollup:hover{
    opacity: 1;
    background-image: url('../img/logo2.png');
    transition: all ease-in-out 2s;
    transform: scale(1.3);
}
*:focus, *:active{
    outline: none;
}
.button-click {

    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
}
.button-click:focus {
    outline: 0;
}
.button-click:before, .button-click:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
}
.button-click:active {
    transform: scale(0.9);
    filter: contrast(120%) brightness(60%);
}
.button-click:hover{
    transition: background-color ease-in-out 1s;
    background: #00cbf6;
}

/*----------------------------------------------*/
.block-01-header-button-01:hover, .block-01-header-button-02:hover,
.block-04-justbuy-button:hover{
    box-shadow: 0 10px 13px -7px white, 5px 5px 15px 5px rgba(255,119,119,0), inset 0 5px 0 0 white;
}
.block-06-news-item:hover,.block-05-ourwork-button:hover,
.block-08-gallery-button:hover{
    box-shadow: 0 10px 13px -7px black, 5px 5px 15px 5px rgba(255,119,119,0), inset 0 5px 0 0 white;
}
.block-05-ourwork-divtab:hover, .block-03-services-divtab:hover{
    box-shadow: 0 10px 13px -7px black, 5px 5px 15px 5px rgba(255,119,119,0);
}
