
@media screen and (min-width: 993px) and (max-width: 1199px){
  button{
    cursor: pointer;
  }
  a{
    text-decoration: none;
    color: white;
  }
  .nav {
    display: grid;
    grid-template-areas: "nav-logo nav-submenu nav-button";
    grid-template-columns: 25vw 50vw 20vw;
    align-items: center;
    justify-content: space-between;
    height: 7.33vw;
    background-color: rgba(39,38,42,0.9);
    &__logo {
      justify-content: center;
      grid-area: nav-logo;
      display: flex;
      flex-direction: row;
      align-items: center;

      //width: 10vw;
      height: 3.42vw;
      //border: red 2px solid;
    }
    &__logo-img {
      content:url("../img/navbar-logo.png");
      display: inline-block;
      width: 3.41VW;
      height: 3.4vw;
      margin-right: 1.42vw;
    }
    &__text {
      display: block;
      font-size: 1.5VW;
      color: #8d81ac;
      font-family: 'Lato';
      font-weight: 700;
      letter-spacing: 0.05em;

    }
    &__button {
      justify-self: center;
      grid-area: nav-button;
      //justify-self: self-end;
      width: 11.08vw;
      height: 3.17VW;
      border-radius: 5.31vw;
      border: transparent;
      background-color: #8d81ac;
      font-family: 'Montserrat';
      font-size: 1.25vw;
      color: #ffffff;
      font-weight: 700;
    }
    &__submenu {
      grid-area: nav-submenu;
      //max-width: 30.75VW;
      //padding-left: 5vw;
      //padding-right: 5vw;
      display: flex;
      align-self: center;
      justify-content: flex-end;
      //margin-right: 5vw;
    }
    &__menu-icon {
      display: none;
    }
    &__submenu-item {
      margin-left: 4vw;
      color: #8d81ac;
      text-decoration: none;
      font-family: 'Montserrat';
      font-weight: 700;
      font-size: 1.084vw;

    }
  }
  .header {
    background: url("../img/img@1X1200.png");
    background-size: 100%;
    height: 51VW;
    text-align: center;
    &__title {
      color: #ffffff;
      font-family: 'Montserrat';
      font-size: 6VW;
      font-weight: 700;
      line-height: 2VW;
      padding-top: 6VW;
      padding-bottom: 3vw;
    }
    &__subtitle {
      max-width: 100VW;
      //padding-left: 7VW;
      color: #8d81ac;
      font-family: 'Montserrat';
      font-size: 1.8VW;
      font-weight: 400;
      padding-bottom: 2vw;

    }
    &__info {
      color: #848e97;
      font-family: 'Montserrat';
      font-size: 1.33VW;
      font-weight: 400;
      line-height: 2vw;
      text-transform: uppercase;
    }
    &__button {
      width: 28.5VW;
      height: 5VW;
      border-radius: 10vw;
      color: #ffffff;
      font-family: 'Montserrat';
      font-size: 1.33vw;
      font-weight: 700;
      background-color: #8d81ac;
      border-color: transparent;
      margin-top: 31.5vW;
    }
    &__info-bottom {
      //padding-top: 2VW;
      color: #848e97;
      font-family: 'Montserrat';
      font-size: 1vw;
      font-weight: 400;
      line-height: 3vw;
    }
  }
  .testimonials {
    background: url("../img/testmonials-bg@1X1200.png");
    background-size: cover;
    &__wrapper{
      text-align: center;
      height: 58.08vw;
      display: grid;
      align-items: center;
      justify-content: space-around;
      grid-template-columns: 33vw 33vw 33vw;
      grid-template-rows: 1fr 1fr 1fr 0.4fr;
      grid-template-areas: "title title title"
      "info info info"
      "info info info"
      "text text text";
    }
    &__title {
      grid-area: title;
      padding-top: 4VW;
      color:  white;
      font-family: 'Montserrat';
      font-size: 3.4vw;
      font-weight: 700;
      line-height: 0.5vw;
    }
    &__info {
      max-width: 25vW;
      color: white;
      font-family: 'Lato';
      font-style: italic;
      font-size: 1.2vw;
      line-height: 2vw;
      margin-top: 3vw;
      margin-bottom: 3.16vw;
      //margin-left: 9VW;
      justify-self: center;
      align-self: center;
    }
    &__text {color: rgba(162, 145, 165, 255);
      justify-self: center;
      max-width: 65vw;
      font-size: 1.2vw;
      grid-area: text;
      margin: 4vw 0 2vw;

    }
    &__text:after{
      content:"";
      width: 58VW;
      height: 0.2vw;
      display: block;
      background-color: #645766;
      margin: 1vw auto;
    }
  }



  .revoleditor{
    margin: 3vw auto;
    &__name{
      color: #635c73;
      font-family: Montserrat;
      font-size: 4vw;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      padding: 5vw 5vw 2vw;
    }
    &__text{
      opacity: 0.8;
      color: #323232;
      font-family: Lato;
      font-size: 1.7vw;
      font-weight: 400;
      padding: 1vw 12vw;
      text-align: center;
    }
    &__buttons{
      margin: 0 2vw;
      display: flex;
      flex-flow: wrap;
      justify-content: center;

    }
    &__button{
      width: auto;
      display: flex;
      flex-flow: row;
      margin: 1.5vw 0.4vw;
      align-content: center;
      align-items: center;
    }

  }

  .btn{
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    color: #24292e;

    background-position: -1px -1px;
    background-repeat: repeat-x;
    background-size: 110% 110%;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: .25em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 12px;
    text-decoration: none;
  }
  .btn-sm{
    font-size: 12px;
    line-height: 20px;
    padding: 3px 10px;
  }
  .btn-with-count{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    float: left;
  }
  .social-count{
    background-color: #fff;
    border: 1px solid rgba(27,31,35,.2);
    border-bottom-right-radius: 3px;
    border-left: 0;
    border-top-right-radius: 3px;
    color: #24292e;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    padding: 3px 10px;
    text-decoration: none;
  }



  .whatyouget{
    margin: 0 auto;
    padding: 5vw 0 2vw 0;
    background-color: #f4f4f4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    &__name{
      color: #8d81ac;
      font-family: Montserrat;
      font-size: 3.4vw;
      font-weight: 700;
      text-align: center;
      padding: 2vw 3vw;
      grid-area: 1 / 2 / 2 / 3;
    }
    &__name:after{
      content: ">";
    }
    &__name:before{
      content: "<";
    }
    &__bk{
      margin: 0 5vw;
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-template-rows: 1fr;
    }
    &__wrap{
      margin-top: 3vw;
      grid-area: 1 / 1 / 3 / 2;
    }
    &__bk-img{
      width: 9.5vw;
      height: 9.5vw;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("../img/whatyouget.png");
      margin: 0 auto;

    }
    &__bk-img01{

      background-position: 0 0;
    }
    &__bk-img02{
      background-position: 0 -11vw;
    }
    &__bk-img03{
      background-position: 0 -23vw;
    }
    &__bk-img04{
      background-position: 0 -35vw;
    }
    &__text01{
      margin-left: 1vw;
      color: #323232;
      font-family: Montserrat;
      font-size: 1.32vw;
      font-weight: 400;
      padding: 1vw;
    }
    &__text02{
      margin-left: 2vw;
      color: #848e97;
      font-family: Lato;
      font-size: 1.16vw;
      font-weight: 400;

    }
    &__bigimg{
      width: 100%;
      height: 37vw;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("../img/whatyouget-big.png");
      margin: 0 auto 0 auto;
      grid-area: 2 / 2 / 3 / 3;

    }
  }



  .pricing{
    background-color: #4a3b4e;
    padding-top: 3vw;
    padding-bottom: 15vw;
    &__bk_wrap{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin: 5vw 5vw;
      justify-items: center;
    }
    &__name{
      color: #ffffff;
      font-family: Montserrat;
      font-size: 3.5vw;
      font-weight: 700;
      text-align: center;
      line-height: 3vw;
    }
    &__bk{
      background-color: #675567;
      margin: 5vw 0;
      height: 34vw;
      width: 20vw;
      padding: 0;
    }
    &__bk-name{
      background-color: #6f5d6b;
      color: #ffffff;
      font-family: Montserrat;
      font-size: 2vw;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      padding: 2.5vw 1vw;
    }
    &__bk-price{
      color: #ffffff;
      font-family: Montserrat;
      font-size: 4vw;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      margin: 1vw 0 2vw 0;
    }
    &__bk-pricetext{
      color: #7c707e;
      font-family: Montserrat;
      font-size: 1.2vw;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 1vw;
    }
    &__bk-pricetext:after{
      margin: 3vw auto;
      content: "";
      display: block;
      width: 5vw;
      height: 0.2vw;
      background-color: #8d81ac;
    }
    &__bk-text-wrap{
      min-height: 4.5vw;
    }
    &__bk-text{
      color: #ffffff;
      font-family: Montserrat;
      font-size: 1.3vw;
      font-weight: 400;
      text-align: center;
      line-height: 1.5vw;
    }
    &__bk-button{
      background-color: #776b79;
      width: 13vw;
      height: 2.3vw;
      line-height: 2.3vw;
      text-align: center;
      color: #ffffff;
      font-family: Montserrat;
      font-size: 1.2vw;
      font-weight: 400;
      text-transform: uppercase;
      margin: 2vw auto 2vw auto;
      border-radius: 33vw;
      cursor: pointer;
    }
    &__bk__general{
      background-color: #413344;
      margin: 2vw auto 0 auto;
      height: 40vw;
      width: 22vw;

    }
    &__bk__general &__bk-name{
      background-color: #3a2d3d;
    }
    &__bk__general &__bk-price{
      font-size: 6.6vw;
    }
    &__bk__general &__bk-button{
      margin: 5vw auto 2vw auto;
    }
  }

  .scrollup {

    width:4vw;
    height:4vw;
    opacity:0.5;
    position:fixed;
    bottom:4vw;
    right:8vw;
    display:none;
    text-indent:-9999px;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .scrollup:hover{
    opacity: 1;
    transition: all ease-in-out 2s;
    transform: scale(1.3);
  }
  button:hover{
    box-shadow: 0 10px 13px -7px #620083, 0 7px 10px -4px white, 5px 5px 15px 5px rgba(255,119,119,0);
    color: #8d81ac;
    background-color: white;
  }
  .nav__submenu-item:hover{
    text-shadow: 0 3px 4px #620083, 0 7px 10px white, 5px 5px 15px rgba(255,119,119,0);
    color: white;
  }
  .nav__logo:hover{
    transition: all ease-in-out 2s;
    transform: scale(1.3);
  }
  .button-click {

    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  }
  .button-click:focus {
    outline: 0;
  }
  .button-click:before, .button-click:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
  }
  .button-click:active {
    transform: scale(0.9);
    filter: contrast(120%) brightness(60%);
  }
  .button-click:hover{
    transition: background-color ease-in-out 1s;
    background: white;
  }
  .pricing__bk-button:hover{
    background-color: #c8c3c7;

  }
  .pricing__bk-button a:hover{
    color: #7f6d78;
    font-weight: bold;
  }
  .nav__logo:hover .nav__logo-img{
    content:url("../img/navbar-logo2.png");
  }
  .nav__logo:hover .nav__text{
    color: white;
  }
}