*{box-sizing: border-box;}
a {text-decoration: none;}
ul, li{list-style: none;}
.main{
    margin: 0 auto;
    padding: 1.55vw;
    font-family: 'Lato', sans-serif;
}

.main__header{
    width: 100%;
    height: 63.75vw;
    background-image: url("../img/bk.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: 0 0 0.95vw 0;
}

.main__header__nav__text{

}
.main__header__content{

}
.main__header__content__firsttext{
    padding-top: 3.6vw;
}
.main__header__content__firsttext, .main__header__content__secondtext{
    color: #ffffff;
    font-size: 5vw;
    font-weight: 700;
    margin: 0 0 0 6.24vw;
}
.main__header__content__thirdtext{
    color: #a6d6e0;
    font-size: 4.38vw;
    font-weight: 700;
    text-decoration: none;
    margin: 0 0 0 6.26vw;
}
.main__content{
    width: 100%;
}
.main__content__wrap{
 display: flex;
    width: auto;
}
.main__content__block{
    min-width: 78%;
    height: 22.53vw;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    margin: 0 0 0.93vw 0;
    text-align: center;
    color: white;
    font-size: 6.26vw;
    font-weight: 700;
    display: flex;
    flex-flow: column;
    justify-content: center;

}
@media only screen and (max-width: 979px) {
    .main__content__button {
        text-align: center;
        color: white;
        width: 22%;
        height: 22.53vw;
        background-color: #acd8ad;
    }

    .main__content__button.fas.fa-chevron-right {
        line-height: 22.22vw;
    }

}
.main__content__firstbk{background-image: url("../img/01.jpg");}
.main__content__secondbk{background-image: url("../img/02.jpg");}
.main__content__thirdbk{background-image: url("../img/03.jpg");}

.main__priceCatalog{
    margin-top: 4.2vw;
}
.main__priceCatalog__text__name{
    color: #3f4043;
    font-size: 5.79vw;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    padding-left: 3vw;
    margin: 0;
}
.main__priceCatalog__text{
    color: #cbccce;
    font-size: 3vw;
    font-weight: 400;
    text-transform: none;
    text-align: left;
    padding-left: 3vw;
    margin: 0 0 2vw 0;

}

.priceCatalog__roll{
    margin: 0 4.9vw;
}
.priceCatalog__roll__wrap{
    color: #3f4043;
    font-size: 4.7vw;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    display: block;
    height: 9.4vw;
    line-height: 9.4vw;
    margin: 2.7vw 0;

}
.priceCatalog__roll__wrap__logo1,
.priceCatalog__roll__wrap__logo2,
.priceCatalog__roll__wrap__logo3,
.priceCatalog__roll__wrap__logo4{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/1.png");
    width: 9.4vw;
    height: 9.4vw;
    float: right;
}
.priceCatalog__roll__wrap__logo1{background-position: 0 0;}
.priceCatalog__roll__wrap__logo2{background-position: 0 -30vw;}
.priceCatalog__roll__wrap__logo3{background-position: 0 -8.76vw;}
.priceCatalog__roll__wrap__logo4{background-position: 0 -19.4vw;}

.priceCatalog__roll__name{
    color: #3f4043;
    font-size: 3.8vw;
    font-weight: 400;
    text-transform: none;
    text-align: left;
    margin: 0.62vw 0;
}
.priceCatalog__roll__price{
    color: #3f4043;
    font-size: 3.8vw;
    font-weight: 700;
    float: right;
    text-align: left;
}
.priceCatalog__roll__text{
    color: #3f4043;
    font-size: 2.8vw;
    font-weight: 400;
    text-align: left;
    margin: 0.1vw 0;
}
.main__priceCatalog__firstbk__name, .main__priceCatalog__secondbk__name{
    width: 100%;
    height: 11.6vw;
    font-size: 6.3vw;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 4.4vw;
    text-align: left;
    line-height: 11.6vw;
}
.main__priceCatalog__firstbk__name{
    color: #acd8ad;
    background-color: #3f4043;
}
.main__priceCatalog__secondbk__name{
    color: #ffffff;
    background-color: #acd8ad;
    margin-top: 10.3vw;
}

.main__footer{
    margin-top: 14vw;
    height: 17.5vw;
    background-color: #acd8ad;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.main__footer__firsttext, .main__footer__secondtext{
    width: 76vw;
    margin: 0 auto;
    color: #ffffff;
    font-size: 3.6vw;
    font-weight: 400;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.main__logo, .main__logo-right{
    display: none;
}

@media only screen and (min-width: 979px){
    .main__header{
        height: 62vw;
    }
    .main__header__content__firsttext{
        padding-top: 4.5vw;
    }
    .main__header__content__firsttext, .main__header__content__secondtext{
        font-size: 5.2vw;
        font-weight: 700;
        margin: 0 0 0 3.24vw;
    }
    .main__header__content__secondtext{
        margin-bottom: 2vw;
    }
    .main__header__content__thirdtext{
        font-size: 3.48vw;
        font-weight: 700;
        margin: 0 0 0 3.26vw;
    }
    .main__content {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
        align-items: flex-start;
    }
    .main__content__wrap{
        width: 100%;
    }
    .main__content__block{
        width: 100%;
        height: 32vw;
        font-size: 4vw;
    }
    .fas{
        width: 0;
        height: 0;
        visibility: hidden;
    }
    .main__priceCatalog__wrap{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
        align-items: flex-start;

    }

    .main__priceCatalog{
        margin-top: 3.5vw;
    }
    .main__priceCatalog__text__name{
        font-size: 3.39vw;
        padding-left: 3vw;
        margin: 0;
        display: inline-flex;
    }
    .main__priceCatalog__text{
        font-size: 2vw;
        padding-left: 3vw;
        margin: 0;
    }

    .priceCatalog__roll{
        margin: 0 1.2vw;
    }
    .priceCatalog__roll__wrap{
        font-size: 2.5vw;
        font-weight: 400;
        height: 4.4vw;
        line-height: 2.5vw;
        margin: 3.3vw 0;

    }
    .priceCatalog__roll__wrap__logo1,
    .priceCatalog__roll__wrap__logo2,
    .priceCatalog__roll__wrap__logo3,
    .priceCatalog__roll__wrap__logo4{
        width: 5.4vw;
        height: 5.4vw;
        float: right;
    }
    .priceCatalog__roll__wrap__logo1{background-position: 0 0;}
    .priceCatalog__roll__wrap__logo2{background-position: 0 -17vw;}
    .priceCatalog__roll__wrap__logo3{background-position: 0 -6vw;}
    .priceCatalog__roll__wrap__logo4{background-position: 0 -12vw;}

    .priceCatalog__roll__name{
        font-size: 2.5vw;
        margin: 0.42vw 0;
    }
    .priceCatalog__roll__price{
        font-size: 2.8vw;
    }
    .priceCatalog__roll__text{
        font-size: 1.5vw;
        margin: 0.5vw 0;
    }
    .main__priceCatalog__firstbk__name, .main__priceCatalog__secondbk__name{
        width: 100%;
        height: 7.6vw;
        font-size: 3.4vw;
        padding-left: 2vw;
        line-height: 7.6vw;
    }
    .main__priceCatalog__firstbk__name{

    }
    .main__priceCatalog__secondbk__name{
        margin: 0;
    }
    .main__footer{
        margin-top: 8vw;
        height: 10.5vw;
        display: flex;
        flex-flow: row;
        line-height: 10.5vw;

    }
    .main__footer__firsttext{
        font-size: 1.7vw;
        text-align: right;
        width: 23vw;
        margin-right: 0;
        margin-left: 18vw;
    }
    .main__footer__secondtext{
        font-size: 1.7vw;
        text-align: left;
        width: 37vw;
        margin: 0 3vw 0 0;
    }
    .main__logo{
        background-image: url("../img/navigation-logo.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 11vw;
        height: 8.5vw;
        display: block;
    }
    .main__logo-right{
        display: block;
        float: right;
        margin-top: 0.3vw;
        margin-right: 3.2vw;
    }
    .main__logo-left{
        margin-top: 0.9vw;

    }
    .main__priceCatalog__name__wrap{
        width: 80%;
        height: 9vw;
        display: inline-block;
    }
    .main__logo-menu{
        background-image: url("../img/Menu_logo.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 11vw;
        height: 8.5vw;
        display: inline-block;
        line-height: 10vw;
        margin-left: 5vw;
    }

}